body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

section {
  padding: 60px 20px;
  text-align: center;
}

.hero {
  background: linear-gradient(135deg, #6366f1, #06b6d4);
}

.btn {
  padding: 10px 20px;
  background: white;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

.skills ul {
  list-style: none;
  padding: 0;
}

.skills li {
  margin: 10px;
}

.card {
  background: #1e293b;
  margin: 15px;
  padding: 20px;
  border-radius: 10px;
}
